/* css styles */

 /* align text in centre. Use this format:
::: text
TEXT HERE
:::
*/
/* css styles */

/* Align text in center. Use this format:
::: text
TEXT HERE
::: */
.text {
  text-align: center;
}

.padding {
  padding: 70px;
}

h3 {
  color: #289998; /* Set color for h3 headers */
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}

h4 {
  color: #289998; /* Set color for h4 headers */
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}

/* Double column format that collapses into one on smaller screens/mobiles */
.container {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  width: 40%;
}

@media (max-width: 767px) {
  .column {
    width: 100%;
  }
}

/* Indent text */
.indent {
  text-indent: 10px;
}

/* Fade in text. Example:
::: fade-in
TEXT HERE
::: */
.fade-in {
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* Fade in HTML. Example:
<div id="myObject" class="fade-inhtml">
  <iframe src="fig.html" width="100%" height="800" style="border:none;"></iframe>
</div>
*/  
.fade-inhtml {
  opacity: 0;
  animation: fadeInAnimation 3s ease-in forwards;
}

@keyframes fadeInAnimation {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* Nav bar title customization */
.navbar-title {
  position: relative;
  display: inline-block;
  overflow: hidden;
  color: #9BA7B0;
  transition: color 0.3s ease;
  font-family: 'intro-rust', sans-serif;
}

.navbar-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  background-color: #289998;
  transition: all 0.5s;
  transform: translateX(-50%);
}

.navbar-title:hover::after {
  width: 100%;
}

.navbar-title:hover {
  color: #289998;
}

@font-face {
  font-family: 'intro-rust';
  src: url('fonts/IntroRustG-Base2Line.otf');
  font-style: normal;
  font-weight: 400;
}

/* Nav bar menu item customization */
.menu-text {
  font-weight: bold;
  color: #9BA7B0;
  transition: color 0.3s ease;
}

.menu-text:hover {
  color: #289998;
}

/* Set font for any element */
@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-regular.otf');
  font-style: normal;
  font-weight: 400;
}
/* Example:
.menu-text {
  font-family: 'Poppins', sans-serif;
}
*/

/* Hover customization for icons */
.bi.bi-twitter {
  transition: color 0.3s ease;
}

.bi.bi-twitter:hover {
  color: #289998;
  animation: wriggleTwitter 1s ease-in-out infinite;
}

@keyframes wriggleTwitter {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(-10deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(10deg); }
  100% { transform: rotate(0deg); }
}

.bi.bi-linkedin {
  transition: color 0.3s ease;
}

.bi.bi-linkedin:hover {
  color: #289998;
  animation: wriggleLinkedin 1s ease-in-out infinite;
}

@keyframes wriggleLinkedin {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(-10deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(10deg); }
  100% { transform: rotate(0deg); }
}

.bi.bi-github {
  transition: color 0.3s ease;
}

.bi.bi-github:hover {
  color: #289998;
  animation: wriggleGithub 1s ease-in-out infinite;
}

@keyframes wriggleGithub {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(-10deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(10deg); }
  100% { transform: rotate(0deg); }
}

.bi.bi-envelope {
  transition: color 0.3s ease;
}

.bi.bi-envelope-fill:hover {
  color: #289998;
  animation: wriggleEnvelope 1s ease-in-out infinite;
}

@keyframes wriggleEnvelope {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(-10deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(10deg); }
  100% { transform: rotate(0deg); }
}

.bi.bi-mortarboard-fill {
  transition: color 0.3s ease;
}

.bi.bi-mortarboard-fill:hover {
  color: #289998;
  animation: wriggleMortarboard 1s ease-in-out infinite;
}

@keyframes wriggleMortarboard {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(-10deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(10deg); }
  100% { transform: rotate(0deg); }
}

.bi.bi-door-open {
  transition: color 0.3s ease
